<nav class="navbar w-[80%] mx-auto py-5">
    <div class="nav-content flex items-center ">
        <h2 class="font-bold text-blue-400 text-3xl">MyBary</h2>
        <ul class="flex items-center ml-14">
            <li class="mr-3"><a class="text-blue-200 font-medium text-md" href="/">Home</a></li>
            <li class="mr-3"><a class="text-blue-200 font-medium text-md" href="/author">Author</a></li>
            <li class="mr-3"><a class="text-blue-200 font-medium text-md" href="/author/add">Add author</a></li>
            <li class="mr-3"><a class="text-blue-200 font-medium text-md" href="/book">Book</a></li>
            <li class="mr-3"><a class="text-blue-200 font-medium text-md" href="/book/add">Add book</a></li>
        </ul>
    </div>
</nav>