<div class="container w-[80%] mx-auto py-10">
    <h2 class="text-blue-400 font-bold text-2xl">Recenlty Add &raquo;</h2>
    <div class="grid grid-cols-5 text-white gap-5 mt-10">
       <%- include('../components/bookDisplay') %>
    </div>
</div>